form .row {
   padding-bottom:30px;
}

.table-subcompact td,.table-subcompact th {
   padding:1px 3px 1px 3px;
}

.table-admin {
   width:auto;
   table-layout:fixed;
   overflow: hidden;
   white-space: nowrap;
}

.table-admin td, .table-admin th {
   vertical-align:middle;
   overflow: hidden;
   white-space: nowrap;
}

td a.btn, th a.btn {
   font-weight: normal;
   width:60%;
   align: center;
}

td select {
   margin-bottom: 0;
}

td form {
   margin-bottom:0;
}
