form .row {
    padding-bottom: 30px;
}

.table-subcompact td, .table-subcompact th {
    padding: 1px 3px 1px 3px;
}

.table-packed td, .table-packed th {
    padding: 1px;
    border: 1px solid #ddd;
}

.table-admin {
    width: auto;
    table-layout: fixed;
    overflow: hidden;
    white-space: nowrap;
}

.table-admin td, .table-admin th {
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
}

td a.btn, th a.btn {
    font-weight: normal;
    width: 60%;
    align: center;
}

td select {
    margin-bottom: 0;
}

td form {
    margin-bottom: 0;
}

body.team-page {
    margin-top: 0px;
    background-image: url(/assets/images/bgnoise.png);
}

.team-sheet {
    padding-left: 0;
    padding-right: 0;
    margin: 0 30px;
    background-color: #fcfcfc;
    box-shadow: 0px 7px 35px #333377;
}

.quote-header-row {
    padding-left: 20px;
    max-height: 20px;
    width: auto;
    background-color: #dcdcff;

}

.team-header-row {
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
}

p.quote {
    font-size: 10px;
    font-style: italic;
    color: #333377;
    margin: 1px;
}

p.quote a {
    color: #333377;
    text-decoration: none;
}

img.spin:hover {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

.table .text-right {
    text-align: right
}

.table .text-left {
    text-align: left
}

.table .text-center {
    text-align: center
}

#dateSelector {
    padding: 20px;
}

#dateShown {
    text-align: center;
}

#dateSlider {
    margin-top: 22px;
}
/*Date slider!!!*/

.ws-range, input[type="range"] {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #8a8a8a;
    -webkit-appearance: none;
    cursor: pointer;
    border: 0;
    outline: none;
    padding: 0;
    margin: 6px 0;
}

.ws-range .ws-range-thumb {
    width: 20px;
    height: 20px;
    border: 1px solid #666666;
    border-radius: 50%;
    background: #efefef;
}

.ws-range.ws-focus .ws-range-thumb {
    border-color: #333333;
    background: #fafafa;
}

.ws-range.ws-active .ws-range-thumb {
    border-color: #000000;
    background: #ffffff;
}

.ws-range .ws-range-min {
    display: none;
    height: 100%;
    background: tranparent;
}

input[type="range"]::-moz-range-track {
    border: none;
    background: transparent;
}

input[type="range"]::-ms-tooltip {
    display: none;
}

input[type="range"]::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border: 1px solid #666666;
    border-radius: 50%;
    background: #efefef;
    -webkit-appearance: none;
}

input[type="range"]::-ms-track {
    width: 400px;
    height: 10px;
    border-radius: 5px;
    background: #8a8a8a;
    color: transparent;
    border: 0;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 1px solid #666666;
    border-radius: 50%;
    background: #efefef;
}

input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    border: 1px solid #666666;
    border-radius: 50%;
    background: #efefef;
}

input[type="range"]:focus::-webkit-slider-thumb {
    border-color: #333333;
    background: #fafafa;
}

input[type="range"]:focus::-moz-range-thumb {
    border-color: #333333;
    background: #fafafa;
}

input[type="range"]:focus::-ms-thumb {
    border-color: #333333;
    background: #fafafa;
}

input[type="range"]:active::-webkit-slider-thumb {
    border-color: #000000;
    background: #ffffff;
}

input[type="range"]:active::-moz-range-thumb {
    border-color: #000000;
    background: #ffffff;
}

input[type="range"]:active::-ms-thumb {
    border-color: #000000;
    background: #ffffff;
}

input[type="range"]::-moz-range-progress {
    display: none;
    height: 100%;
    background: tranparent;
}

input[type="range"]::-ms-fill-lower {
    display: none;
    height: 100%;
    background: tranparent;
}

.no-cssrangeinput input[type="range"] {
    background: transparent;
    margin: 0;
    border: 0;
    min-height: 22px;
}

.team-box {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    color: #777;
}

.model-box td, .model-box th {
    vertical-align: middle;
    text-align: center;
    color: #777;
}

.mini-stat h3, .mini-stat h4,.mini-stat h5 {
    margin-top: -1px;
    margin-bottom: 0;

}