@(homeTeamSummary:models.TeamSummary, awayTeamSummary:models.TeamSummary, predictors:List[(Statistic, analysis.predictors.SingleStatConditioner)])
<table class="table table-bordered table-subcompact model-box">
    <thead>
    <tr><th style="width:18em;">Model</th><th style="width: 4em;">Favorite</th><th style="width: 4em;">Probability</th><th style="width: 4em;">Spread</th><th></th></tr>
    </thead>
    <tbody>
    @predictors.map { p=>
       <tr>
           @defining(homeTeamSummary.stats.filter(_.name==p._1.name).head.z.toDouble - awayTeamSummary.stats.filter(_.name==p._1.name).head.z.toDouble){x=>
           <th style="text-align: left;"><h4><a href="@controllers.routes.Statistics.stat(p._1.key)">@p._1.name<a></a></h4></th>
           @if(p._2.winProb(x)>50.0){
           <td>
              <a href="@controllers.routes.Schedule.team(homeTeamSummary.team.key)"><img src="@homeTeamSummary.team.logoUrlSmall.getOrElse("#")"></a>
           </td>
           <td><h4>@p._2.winProb(x).formatted("%5.1f") %</h4></td>
           <td><h4>@p._2.spread(x).formatted("%+5.1f")</h4></td>

           }
           @if(p._2.winProb(x)<50.0){
           <td>
               <a href="@controllers.routes.Schedule.team(awayTeamSummary.team.key)"><img src="@awayTeamSummary.team.logoUrlSmall.getOrElse("#")"></a>
            </td>
           <td><h4>@((100.0-p._2.winProb(x)).formatted("%5.1f")) %</h4></td>
           <td><h4>@((-p._2.spread(x)).formatted("%+5.1f"))</h4></td>
               }
           @if(p._2.winProb(x)==50.0){
           <td>
              <h4>PUSH</h4>
           </td>
           <td><h4>@p._2.winProb(x).formatted("%5.1f") %</h4></td>
           <td><h4>+ @p._2.spread(x).formatted("%+5.1f")</h4></td>
           }
           <td style=" background-image: linear-gradient(to right, @homeTeamSummary.team.primaryColor.get 0%, #fff @p._2.winProb(x)%, @awayTeamSummary.team.primaryColor.get 100%);"></td>
       }
       </tr>
    }
    </tbody>
</table>