@(homeTeamSummary:models.TeamSummary, awayTeamSummary:models.TeamSummary, predictors:List[(Statistic, controllers.SingleVariableLogisticModel)])
<table class="table table-bordered table-subcompact model-box">
    <thead>
    <tr><th style="width:18em;">Model</th><th style="width: 4em;">Favorite</th><th style="width: 4em;">Probability</th><th style="width: 4em;">Spread</th><th></th></tr>
    </thead>
    <tbody>
    @predictors.map { p=>
       <tr>
           @defining(homeTeamSummary.stats.filter(_.name==p._1.name).head.z.toDouble - awayTeamSummary.stats.filter(_.name==p._1.name).head.z.toDouble){x=>
           <th style="text-align: left;"><h3>@p._1.name</h3></th>
           @if(p._2.winProb(x)>50.0){
           <td>
              <img src="@homeTeamSummary.team.logoUrlSmall.get">
           </td>
           <td><h3>@p._2.winProb(x).formatted("%5.1f") %</h3></td>
           <td><h3>@p._2.spread(x).formatted("%+5.1f")</h3></td>

           }
           @if(p._2.winProb(x)<50.0){
           <td>
               <img src="@awayTeamSummary.team.logoUrlSmall.get">
           </td>
           <td><h3>@((100.0-p._2.winProb(x)).formatted("%5.1f")) %</h3></td>
           <td><h3>@((-p._2.spread(x)).formatted("%+5.1f"))</h3></td>
               }
           @if(p._2.winProb(x)==50.0){
           <td>
              <h3>PUSH</h3>
           </td>
           <td><h3>@p._2.winProb(x).formatted("%5.1f") %</h3></td>
           <td><h3>+ @p._2.spread(x).formatted("%+5.1f")</h3></td>
           }
           <td><div style="margin-left:5%; width:90%; height:3em; background-image: linear-gradient(to right, @homeTeamSummary.team.primaryColor.get 0%, #fff @p._2.winProb(x)%, @awayTeamSummary.team.primaryColor.get 100%);">   </div></td>
       }
       </tr>
    }
    </tbody>
</table>