@(homeTeamSummary:models.TeamSummary, awayTeamSummary:models.TeamSummary, modelPredictions:List[(String, Double, Double)])
<tr>
    <th style="text-align: left;"><h3>Naive Win Predictor</h3></th>
    <td><img src="http://i.turner.ncaa.com/dr/ncaa/ncaa7/release/sites/default/files/images/logos/schools/p/princeton.40.png"></td>
    <td></td>
    <td><h3>-3.5</h3></td>
    <td><div style="margin-left:5%; width:90%; height:3em; background-image: linear-gradient(to right, #ff8f29 0%, #ff8f29 36%, #fff 73%, #ae223e 86%, #ae223e 100%);">   </div></td>
</tr>