@(message: String)

@richMain("Deep Fij",  None) {

<div class="row-fluid">
<div class="span12">
    <div style="padding-top:1em; min-height:60em;" class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h1>Welcome to Deep Fij</h1>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                <h3>What is Deep Fij?</h3>
                <p>Deep Fij is a college basketball ananlysis site.  It's based on ideas ideas I had 20 years ago methods
                of ranking teams about ranking teams.  Ideas that were quite frankly similar to the ones Jeff Sagarin had before me, and
                Ken Pomeroy and Keith Massey, and a host of other people had around the same time.</p>
                <p>I guess, that is to say, there isn't much here you couldn't find elsewhere, but none the less its a hobby I enjoy.</p>
            </div>
            <div class="span4">
                <h3>What can I expect?</h3>
                <p>What ever you do, don't try to sign up with a user name and password.  Nothing will happen, and there
                    is no personalization of any kind.  That's always kind of been in the works, but has never actually happened.  However
                if it makes you fell better, you can sign in with Google or Twitter.  Nothing will happen though.</p>
                <p>Well, once we're fully up and running, you can probably expect reasonably timely results and statistics.
                    Later into the season I may try to get into some predictive analytics and cool visualizations as my time permits.</p>
            </div>
            <div class="span4">
                <h3>Some things you may notice...</h3>
                <p>There are currently a lot of flaky things about the site.  Especially with past seasons data and the handling of conference moves.  We're addressing it but fairly slowly.</p>
                <p>If you see something drop me a line at <a href="mailto:deepfij@@gmail.com">deepfij@@gmail.com</a>.  Who knows -- I might even fix it.</p>
            </div>

        </div>

    </div>
</div>
</div>

}
