@(conferences: List[Conference])(implicit flash:Flash)

@main("Conferences") {
<script>
    function deleteConference(i,n){
      var hiddenId =   '<input type="hidden" id="id"       name="id"       value="' + i + '"/>';
      var hiddenName = '<input type="hidden" id="conferenceName" name="conferenceName" value="' + n + '"/>';
      $('<form>', { "html":hiddenId+hiddenName, "method":'POST', "action":'/conferences/delete' } )
        .appendTo(document.body).submit();
    }
</script>

<div class="row-fluid">
    <div class="span12">
        <h1 class="span1">Teams</h1>
        <a href="/conferences/new" class="span2 offset9 btn btn-primary btn-block" style="margin-top:15px;">New Team</a>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">

        @if(flash.get("success").isDefined) {
        <div class="alert alert-success"><p>@flash.get("success").get</p></div>
        }
        @if(flash.get("error").isDefined) {
        <div class="alert alert-error"><p>@flash.get("error").get</p></div>
        }

        <table class="table table-condensed  table-bordered" style="table-layout:fixed;">
            <thead>
            <tr>
                <th style="width:8em;"></th>
                <th style="width:4em;"></th>
                <th style="width:12em;">Conference</a></th>
                <th style="width:18em;">Long Name</th>
                <th style="width:14em;">Official URL</th>
                <th style="width:10em;">Official Twitter</th>
                <th style="width:4em;"></th>
            </tr>
            </thead>
            <tbody>
            @conferences.map { conference=>
            <tr>
                <td><img src="@conference.logoUrl.getOrElse("")"/></td>
                <td><a class="btn btn-primary btn-small" href="@controllers.routes.Conference.edit(conference.key)">Edit</a></td>
                <td style="overflow-x:hidden;"><a href="@controllers.routes.Conference.view(conference.key)">@conference.name</a></td>
                <td style="overflow-x:hidden;">@conference.shortName</td>
                <td style="overflow-x:hidden;">@conference.officialUrl.getOrElse("")</td>
                <td style="overflow-x:hidden;">@conference.officialTwitter.getOrElse("")</td>
                <td>
                    <button class="btn btn-danger btn-small" onclick="deleteConference('@conference.id', '@conference.name')">Delete</button>
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>
}
