@(conference: models.Conference, title:String, prevKey:String, nextKey:String)(implicit flash:Flash)

@import helper._
@import helper.twitterBootstrap._

@main(title) {

<div class="container">
    <h1>@title</h1>
    @if(flash.get("success").isDefined) {
    <div class="alert alert-success"><p>@flash.get("success").get</p></div>
    }
    @if(flash.get("error").isDefined) {
    <div class="alert alert-error"><p>@flash.get("error").get</p></div>
    }

    <div class="row" style="margin-bottom:15px;">
        <div class="span2">
            <a class="btn btn-block btn-primary" href="@routes.Conference.view(prevKey)">Previous</a>
        </div>
        <div class="offset8 span2">
            <a class="btn btn-block btn-primary" href="@routes.Conference.view(nextKey)">Next</a>
        </div>
    </div>


    <div class="container" style="padding-top:5px;">
        <div class="row">
            <div class="span9">
                <img src='@conference.logoUrl.getOrElse("#")'/>
                <h1>@conference.name</h1>
            </div>
            <div class="span3">
            </div>
        </div>
    </div>
</div>
}