@(conferenceForm: Form[models.Conference], title:String, prevKey:String, nextKey:String)(implicit flash:Flash)

@import helper._
@import helper.twitterBootstrap._
@import tags._


@main(title) {

<div class="container">
    <h1>@title</h1>
    @flashBox(flash)
    @if(conferenceForm.hasErrors && conferenceForm("id").value.isDefined) {
    <div class="alert alert-error">
        <p>Please correct errors in the form.</p>
    </div>
    }

    <div class="row" style="margin-bottom:15px;">
        <div class="span2">
            <a class="btn btn-block btn-primary" href="@routes.Conference.edit(prevKey)">Previous</a>
        </div>
        <div class="offset8 span2">
            <a class="btn btn-block btn-primary" href="@routes.Conference.edit(nextKey)">Next</a>
        </div>
    </div>

        @helper.form(action = routes.Conference.submit, 'class->"form form-horizontal well") {
    <div class="container" style="padding-top:5px;">
        <div  class="row">
        <div class="span9">
            <fieldset>
                <input type="hidden" name="id" value='@conferenceForm("id").value.getOrElse(0)'>
                @inputText( conferenceForm("key"), '_label -> "Key", '_showConstraints -> false, 'class->"input-large" )
                @inputText( conferenceForm("name"), '_label -> "Name", '_showConstraints -> false )
                @inputText( conferenceForm("shortName"), '_label -> "Long Name", '_showConstraints -> false,
                'class->"input-xxlarge" )
                @inputText( conferenceForm("logoUrl"), '_label -> "Logo URL", 'class->"input-xxlarge", 'onchange->"updateLogos()" )
                @inputText( conferenceForm("officialUrl"), '_label -> "URL", 'class->"input-xlarge" )
                @inputText( conferenceForm("officialTwitter"), '_label -> "Twitter" )
            </fieldset>
        </div>
        <div class="span3">
          <p>
              <a class="btn btn-small btn-primary" href='@conferenceForm("officialUrl").value.getOrElse("#")' target="_blank">Check website</a>
          </p>
          <p>
              <a class="btn btn-small btn-primary" href='@{"https://twitter.com/"+conferenceForm("officialTwitter").value.map(_.drop(1)).getOrElse("#")}' target="_blank">Check twitter</a>
          </p>

            <img id="logo-white-background"
                 style="border-radius: 4px; margin:5px; padding:50px; box-shadow:3px 3px 4px #999; background-color: white"
                 src="@conferenceForm("logoUrl").value.getOrElse("")" />
        </div>
    </div>
    <div class="row">
        <div class="actions span12">
            <input type="submit" class="btn primary" value="Save">
            <input type="reset" class="btn primary" value="Reset">
            <a href="@routes.Conference.list" class="btn">Cancel</a>
        </div>
    </div>
        </div>
    }
</div>
</div>
}