@(status: List[(String,Option[Int])])(implicit flash: Flash)

@main("Database Operations") {
<div class="row-fluid">
    <div class="span12">
        <h3>Database Operations</h3>
    </div>
</div>
@if(flash.get("success").isDefined || flash.get("error").isDefined) {
<div class="row-fluid">
    <div class="span12">
        @if(flash.get("success").isDefined) {
        <div class="alert alert-success"><p>@flash.get("success").get</p></div>
        }
        @if(flash.get("error").isDefined) {
        <div class="alert alert-error"><p>@flash.get("error").get</p></div>
        }
    </div>
</div>
}
<div class="row-fluid">
    <div class="span6">
        <h4>Actions</h4>

        <form class="form well" method="post" action="database/rebuild">
           <p> <input type="submit" class="btn btn-danger span3" value="Rebuild"/>
            <span class="help-inline">Warning: Rebuilding the database will drop ALL data.</span></p>
            <p>
                <a class="btn btn-primary span3" style="float:none; display:inline-block" href="#">Show DDL</a>
                <span class="help-inline">Safe export SQL statements to screen.</span>
            </p>
        </form>
    </div>
    <div class="span6">
        @dbStatus(status)
    </div>
</div>

}