@(q: Option[models.Quote],p: models.DatePage)

@import tags._

@richMain(p.date.toString("MMM d, yyyy"),  None) {

<div class="row-fluid team-header-row">
    <div class="span2">
        <h4 class="text-left"><a href="@routes.Schedule.date(p.prevDate.getYear, p.prevDate.getMonthOfYear, p.prevDate.getDayOfMonth)">&lt; @p.prevDate.toString("MMM d, yyyy")</a></h4>
    </div>
    <div class="span8">
        <h3 class="text-center">@p.date.toString("MMMM d, yyyy")</h3>
    </div>
    <div class="span2">
        <h4 class="text-right"><a  href="@routes.Schedule.date(p.nextDate.getYear, p.nextDate.getMonthOfYear, p.nextDate.getDayOfMonth)">@p.nextDate.toString("MMM d, yyyy") &gt;</a></h4>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="container-fluid">
            @if(!p.results.isEmpty) {
            <div class="row-fluid">
                <div class="span12">
                    <h3>Results</h3>
                    <table class="table table-compact table-bordered table-subcompact">
                        <thead>
                        <tr>
                            <th colspan="4">Results</th>
                            <th colspan="4">Postdictions</th>
                        </tr>
                        <tr>
                            <th>Home</th>
                            <th></th>
                            <th>Away</th>
                            <th></th>
                            <th>Margin</th>
                            <th>Error</th>
                            <th>Margin</th>
                            <th>Error</th>
                        </tr>
                        </thead>
                        <tbody>
                        @p.results.map{ res=>
                        <tr>
                            <td><a href="@routes.Schedule.team(res.homeTeam.key)">@res.homeTeam.name</a></td>
                            <td>@res.result.get.homeScore</td>
                            <td><a href="@routes.Schedule.team(res.awayTeam.key)">@res.awayTeam.name</a></td>
                            <td>@res.result.get.awayScore</td>
                        </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            }
            @if(!p.games.isEmpty) {
            <div class="row-fluid">
                <div class="span12">
                    <h3>Schedule</h3>
                        @p.games.map { g=>
                    <div class="row-fluid">
                        @defining(p.teamData(g.homeTeam)){teamSummary=>
                            @teamMiniBox(g.homeTeam, teamSummary, "home")
                        }
                        @defining(p.teamData(g.awayTeam)){teamSummary=>
                            @teamMiniBox(g.awayTeam, teamSummary, "away")
                        }

                    </div>
                    <div class="row-fluid">
                        <div class="span10">
                         <table class="table table-bordered table-subcompact model-box">
                             <thead>
                             <tr><th style="width:18em;">Model</th><th style="width: 4em;">Favorite</th><th style="width: 4em;">Probability</th><th style="width: 4em;">Spread</th><th></th></tr>
                             </thead>
                             <tbody>
                             <tr>
                                 <th style="text-align: left;"><h3>Naive Win Predictor</h3></th>
                                 <td><img src="@g.homeTeam.logoUrlSmall.get" /></td>
                                 <td></td>
                                 <td><h3>-3.5</h3></td>
                                 <td><div style="background-image: linear-gradient(to right, @g.homeTeam.primaryColor.get 0%, @g.homeTeam.primaryColor.get 36%, #fff 73%, @g.awayTeam.primaryColor.get 86%, @g.awayTeam.primaryColor.get 100%);"></div></td>
                             </tr>
                             <tr>
                                 <th>Naive Win Predictor</th>
                                 <td><img src="@g.homeTeam.logoUrlSmall.get" /></td>
                                 <td><h3>64.1%</h3></td>
                                 <td><h3>-3.5</h3></td>
                             </tr>
                             <tr>
                                 <th>Logistic: Win Predictor</h5></th>
                                 <td><img src="@g.homeTeam.logoUrlSmall.get" /></td>
                                 <td><h3>61.5%</h3></td>
                                 <td><h3>-3.5</h3></td>
                             </tr>
                             </tbody>
                         </table>
                        </div>
                    </div>
                    }
                </div>
            </div>
            }
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <h6 style="text-align:center; ">For entertainment purposes only. &copy;2013 fijimf.com. Contact us <a
                    href="mailto:deepfij@@gmail.com">deepfij@@gmail.com</a></h6>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <hr/>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <script type="text/javascript"><!--
            google_ad_client = "ca-pub-8640781414553071";
            /* bottom */
            google_ad_slot = "3752417978";
            google_ad_width = 728;
            google_ad_height = 90;
            //-->
            </script>
            <script type="text/javascript"
                    src="//pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
        </div>
    </div>


    }