@(key: String)

@richMain("Teams",  None) {

<div class="row-fluid team-header-row" style="border-top:12px solid #444;border-bottom:12px solid  #444;background-color:#ddd">
    <div class="span5">
        <h2 id="change-title" style="font-size:350%; padding-top:25px;">Games</h2>
    </div>
</div>
                                    <style>
                                        .xAxis line,
                                        .xAxis path,
                                        .yAxis line,
                                        .yAxis path
                                        {
                                            fill: none;
                                            stroke: #000;
                                            stroke-width: 2px;
                                            shape-rendering: crispEdges;
                                        }

                                        .xAxis, .yAxis {
                                            font-size: 9px;
                                        }

                                    </style>
<div class="row-fluid">
    <div class="span12">
        <div class="container-fluid">

            <div class="row-fluid">
                <div class="span12">
                    <div id="scatter" />
                </div>
            </div>
        </div>
    </div>
</div>
        <script>loadGamesScatter("blah")</script>
<div class="row-fluid">
    <div class="span12">
        <script type="text/javascript"><!--
google_ad_client = "ca-pub-8640781414553071";
/* bottom */
google_ad_slot = "3752417978";
google_ad_width = 728;
google_ad_height = 90;
//-->
        </script>
        <script type="text/javascript"
                src="//pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
    </div>
</div>
</div>

}