@(req: Form[scraping.GameUpdateRequest])

@import helper._
@import helper.twitterBootstrap._

@main("Scrape ncaa.com") {
<div class="row-fluid">
    <div class="span12">
        <h3>Scrape ncaa.com</h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <form class="form well" method="post" action="ncaa/scrape-teams">
            <p>
                <input type="submit" class="btn btn-primary span2" value="Scrape Teams"/> <span class="help-inline">Scraping teams assumes an empty <strong>teams</strong> table and will generate conference associations for all seasons in the <strong>seasons</strong> table</span>
            </p>
        </form>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @helper.form(action = admin.routes.KenPom.scrapeGames, 'class->"form well") {
        <fieldset>
            <div class="row-fluid">
                <div class="span4">
                    @inputText( req("url"), '_label -> "URL", '_showConstraints -> false, 'class->"input-xlarge" )
                    @inputText( req("fromDate"), '_label -> "From", '_showConstraints -> false, 'class->"input-medium" )
                    @inputText( req("toDate"), '_label -> "To", '_showConstraints -> false, 'class->"input-medium" )
                </div>
                <div class="span4">
                    <h4>Games</h4>
                    @checkbox( req("doGameInserts"), '_label -> "Apply Inserts?", '_showConstraints -> false )
                    @checkbox( req("doGameUpdates"), '_label -> "Apply Updates?", '_showConstraints -> false )
                    @checkbox( req("doGameDeletes"), '_label -> "Apply Deletes?", '_showConstraints -> false )
                </div>
                <div class="span4">
                    <h4>Results</h4>
                    @checkbox( req("doResultInserts"), '_label -> "Apply Inserts?", '_showConstraints -> false )
                    @checkbox( req("doResultUpdates"), '_label -> "Apply Updates?", '_showConstraints -> false )
                    @checkbox( req("doResultDeletes"), '_label -> "Apply Deletes?", '_showConstraints -> false )
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    @checkbox( req("doWrite"), '_label -> "Update Database?", '_showConstraints -> false )
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <input type="submit" class="btn btn-primary span6" value="Scrape Games">
                </div>
            </div>
        </fieldset>
        }
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <form class="form well" method="post" action="ncaa/scrape-games-etc">
            <p>
                <input type="submit" class="btn btn-primary span2" value="Scrape Misc"/> <span class="help-inline">Will attempt to pull team colors, twitter feeds and conference twitter feeds from ncaa games</span>
            </p>
            </p>
        </form>
    </div>
</div>
}