@(message: String)

@main("Fridge Rules") {
    
    <h1>Fridge rules</h1>
    <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Project name</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">

    <h1>Editing: 2012-2013</h1>

    <form class="form-inline">

        <input type="date" class="input-small" placeholder="12-31-2013">
        <input type="date" class="input-small" placeholder="12-31-2013">
        <label class="checkbox">
            <input type="checkbox">Current
        </label>
        <button type="submit" class="btn">Save Changes</button>
    </form>

    <form class="well">
        <fieldset>
            <legend>Game Details</legend>
            <div class="span12">
                <label for="gamedate">Date</label>
                <input id="gamedate" type="date" class="input-small" placeholder="12-31-2013">
                <label class="checkbox">
                    <input type="checkbox">Neutral Site
                </label>
            </div>
            <div class="span5">
                <label for="homeTeam">Home</label>
                <select id="homeTeam">
                    <option>Georgetown</option>
                    <option>Villanova</option>
                    <option>St. John's</option>
                    <option>Syracuse</option>
                    <option>Butler</option>
                    <option>Alabama</option>
                    <option>SDSU</option>
                    <option>Penn State</option>
                    <option>Georgia</option>
                </select>
                <input type="text" maxlength="4">
            </div>
            <div class="offset1 span5">
                <label for="awayTeam">Home</label>
                <select id="awayTeam">
                    <option>Georgetown</option>
                    <option>Villanova</option>
                    <option>St. John's</option>
                    <option>Syracuse</option>
                    <option>Butler</option>
                    <option>Alabama</option>
                    <option>SDSU</option>
                    <option>Penn State</option>
                    <option>Georgia</option>
                </select>
                <input type="text" maxlength="4">
            </div>
         <div class="span12">   <label class="checkbox">
                <input type="checkbox">Conference Tournament
            </label>
            <label class="checkbox">
                <input type="checkbox">NCAA Tournament
            </label></div>
        </fieldset>
        <div class="span12">
            <button type="submit" class="btn">Save</button>
            <button type="reset" class="btn">Rese</button>
        </div>
    </form>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Date</th>
            <th>Home</th>
            <th>Score</th>
            <th>Away</th>
            <th>Score</th>
            <th>Neutral?</th>
            <th>Conf Trn?</th>
            <th>NCAA Tourn</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>2013-12-13</td>
            <td>Georgetown</td>
            <th>99</th>
            <th>Butler</th>
            <th>88</th>
            <th>N</th>
            <th>N</th>
            <th>N</th>
        </tr>
        <tr>
            <td>2013-12-13</td>
            <td>Georgetown</td>
            <th>99</th>
            <th>Butler</th>
            <th>88</th>
            <th>N</th>
            <th>N</th>
            <th>N</th>
        </tr>
        <tr>
            <td>2013-12-13</td>
            <td>Georgetown</td>
            <th>99</th>
            <th>Butler</th>
            <th>88</th>
            <th>N</th>
            <th>N</th>
            <th>N</th>
        </tr>
        <tr>
            <td>2013-12-13</td>
            <td>Georgetown</td>
            <th>99</th>
            <th>Butler</th>
            <th>88</th>
            <th>N</th>
            <th>N</th>
            <th>N</th>
        </tr>
        <tr>
            <td>2013-12-13</td>
            <td>Georgetown</td>
            <th>99</th>
            <th>Butler</th>
            <th>88</th>
            <th>N</th>
            <th>N</th>
            <th>N</th>
        </tr>
        <tr>
            <td>2013-12-13</td>
            <td>Georgetown</td>
            <th>99</th>
            <th>Butler</th>
            <th>88</th>
            <th>N</th>
            <th>N</th>
            <th>N</th>
        </tr>
        <tr>
            <td>2013-12-13</td>
            <td>Georgetown</td>
            <th>99</th>
            <th>Butler</th>
            <th>88</th>
            <th>N</th>
            <th>N</th>
            <th>N</th>
        </tr>
        </tbody>
    </table>
</div>
}
