@(quoteForm: Form[Quote], title:String)(implicit flash:Flash)

@import helper._
@import helper.twitterBootstrap._


@main(title) {

<div class="container">
    <h1>@title</h1>
    @if(flash.get("success").isDefined) {
    <div class="alert alert-success"><p>@flash.get("success").get</p></div>
    }
    @if(flash.get("error").isDefined) {
    <div class="alert alert-error"><p>@flash.get("error").get</p></div>
    }

    @if(quoteForm.hasErrors && quoteForm("id").value.isDefined) {
    <div class="alert alert-error">
        <p>Please correct errors in the form.</p>
    </div>
    }

        @helper.form(action = routes.Quote.submit, 'class->"form form-horizontal well") {
    <div class="container" style="padding-top:5px;">
        <div  class="row">
        <div class="span9">
            <fieldset>
                <input type="hidden" name="id" value='@quoteForm("id").value.getOrElse(0)'>
                @inputText( quoteForm("quote"), '_label -> "Quote", '_showConstraints -> false, 'class->"input-xxlarge" )
                @inputText( quoteForm("source"), '_label -> "Source", '_showConstraints -> false, 'class->"input-xlarge"  )
                @inputText( quoteForm("url"), '_label -> "URL", '_showConstraints -> false, 'class->"input-xlarge" )
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="actions span12">
            <input type="submit" class="btn primary" value="Save">
            <input type="reset" class="btn primary" value="Reset">
            <a href="@routes.Quote.list" class="btn">Cancel</a>
        </div>
    </div>
        </div>
    }
</div>
</div>
}