@(quotes: List[Quote])(implicit flash:Flash)

@import tags._

@mainNoAds("Quotes") {
<script>
    function deleteQuote(i,n){
      var hiddenId =   '<input type="hidden" id="id"       name="id"       value="' + i + '"/>';
      var hiddenName = '<input type="hidden" id="quoteName" name="quoteName" value="' + n + '"/>';
      $('<form>', { "html":hiddenId+hiddenName, "method":'POST', "action":'/quotes/delete' } )
        .appendTo(document.body).submit();
    }
</script>

<div class="row-fluid">
    <div class="span12">
        <h3>Quotes</h3>
    </div>
</div>
@flashBox(flash)
<div class="row-fluid">
    <div class="span12">
        <table class="table table-condensed table-bordered table-admin">
            <thead>
            <tr>
                <th style="width:4em;">
                    <a href="/quotes/new" class="btn btn-primary btn-small" style="margin-top:15px;">New</a>
                </th>
                <th style="width:18em;">Quote</a></th>
                <th style="width:10em;">Source</th>
                <th style="width:10em;">URL</th>
                <th style="width:4em;"></th>
            </tr>
            </thead>
            <tbody>
            @quotes.map { quote=>
            <tr>
                <td><a class="btn btn-primary btn-small" href="@controllers.routes.Quote.edit(quote.id)">Edit</a></td>
                <td style="overflow-x:hidden;"><a href="@controllers.routes.Quote.view(quote.id)">@quote.quote</a></td>
                <td style="overflow-x:hidden;">@quote.source.getOrElse("")</td>
                <td style="overflow-x:hidden;">@quote.url.getOrElse("")</td>
                <td>
                    <button class="btn btn-danger btn-small" onclick="deleteQuote('@quote.id', '@quote.quote')">Delete</button>
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>
}
