@(title:String, user:Option[models.User])(content:Html)

@import tags._
<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/admin.js")" type="text/javascript"></script>

</head>
<body class="team-page">
@navbar(user)
<div class="container-fluid">
<div class="row-fluid">
<div class="span12">
<div class="container-fluid team-sheet">
        <div class="row-fluid quote-header-row">
        <div class="span12" id = "qotd">
        <p class="quote"></p>
</div>
</div>

@content
</div>
</div>
</div>
</div>
<script>loadQuote()</script>
</body>
</html>
