@(req:Form[(org.joda.time.LocalDate, org.joda.time.LocalDate)])
@import helper._
@import helper.twitterBootstrap._


@mainNoAds("Run Models") {

<div class="row-fluid">
    <div class="span12">
        <h3>RunModels</h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @helper.form(action = admin.routes.RunModels.run, 'class->"form well") {
        <fieldset>
            <div class="row-fluid">
                <div class="span4">
                    <input type="hidden" name="url" value="not-used">
                    @inputText( req("from"), '_label -> "From", '_showConstraints -> false, 'class->"input-medium" )
                    @inputText( req("to"), '_label -> "To", '_showConstraints -> false, 'class->"input-medium" )
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <input type="submit" class="btn btn-primary span6" value="Run Models">
                </div>
            </div>
        </fieldset>
        }
    </div>
</div>
}
