@(seasons: List[Season])(implicit flash:Flash)

@main("Seasons") {
<script>
    function deleteSeason(i,n){
    var hiddenId = '<input type="hidden" id="id" name="id" value="' + i + '"/>';
    var hiddenName = '<input type="hidden" id="seasonName" name="seasonName" value="' + n + '"/>';
    $('
    <form>', { "html":hiddenId+hiddenName, "method":'POST', "action":'/seasons/delete' } )
        .appendTo(document.body).submit();
        }
</script>

<div class="row-fluid">
    <div class="span12">
        <h1 class="span1">Seasons</h1>
        <a href="/seasons/new" class="span2 offset9 btn btn-primary btn-block" style="margin-top:15px;">New Season</a>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">

        @if(flash.get("success").isDefined) {
        <div class="alert alert-success"><p>@flash.get("success").get</p></div>
        }
        @if(flash.get("error").isDefined) {
        <div class="alert alert-error"><p>@flash.get("error").get</p></div>
        }

        <table class="table table-condensed  table-bordered" style="table-layout:fixed;">
            <thead>
            <tr>
                <th style="width:4em;"></th>
                <th style="width:12em;">Season</a></th>
                <th style="width:8em;">From</th>
                <th style="width:18em;">To</th>
                <th style="width:4em;"></th>
            </tr>
            </thead>
            <tbody>
            @seasons.map { season=>
            <tr>
                <td><a class="btn btn-primary btn-small" href="@controllers.routes.Season.edit(season.key)">Edit</a>
                </td>
                <td style="overflow-x:hidden;"><a href="@controllers.routes.Season.view(season.key)">@season.season</a>
                </td>
                <td style="overflow-x:hidden;">@season.from</td>
                <td style="overflow-x:hidden;">@season.to</td>
                <td>
                    <button class="btn btn-danger btn-small" onclick="deleteSeason('@season.id', '@season.season')">
                        Delete
                    </button>
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>
}
