@(seasonForm: Form[Season], title:String, prevKey:Option[String], nextKey:Option[String])(implicit flash:Flash)

@import helper._
@import helper.twitterBootstrap._


@main(title) {


<script>
    function updateLogos() {
    var url = $("#logoUrl").val();
    $("#logo-white-background").attr("src",url);
    $("#logo-primary-background").attr("src",url);
    $("#logo-secondary-background").attr("src",url);
    }
    function updatePrimaryColor() {
    var color = $("#primaryColor").val();
    $("#logo-primary-background").css("background","linear-gradient(to bottom, #eee 0%, "+color+" 27%, "+color+" 73%, #eee 100%)");
    }
    function updateSecondaryColor() {
    var color = $("#secondaryColor").val();
    $("#logo-secondary-background").css("background","linear-gradient(to bottom, #eee 0%, "+color+" 27%, "+color+" 73%, #eee 100%)");
    }

</script>
<div class="container">
    <h1>@title</h1>
    @if(flash.get("success").isDefined) {
    <div class="alert alert-success"><p>@flash.get("success").get</p></div>
    }
    @if(flash.get("error").isDefined) {
    <div class="alert alert-error"><p>@flash.get("error").get</p></div>
    }

    @if(seasonForm.hasErrors && seasonForm("id").value.isDefined) {
    <div class="alert alert-error">
        <p>Please correct errors in the form.</p>
    </div>
    }

    <div class="row" style="margin-bottom:15px;">
        <div class="span2">
            <a class="btn btn-block btn-primary" href="@prevKey.map(routes.Season.edit(_)).getOrElse("#"))">Previous</a>
        </div>
        <div class="offset8 span2">
            <a class="btn btn-block btn-primary" href="@nextKey.map(routes.Season.edit(_)).getOrElse("#")">Next</a>
        </div>
    </div>

        @helper.form(action = routes.Season.submit, 'class->"form form-horizontal well") {
    <div class="container" style="padding-top:5px;">
        <div  class="row">
        <div class="span9">
            <fieldset>
                <input type="hidden" name="id" value='@seasonForm("id").value.getOrElse(0)'>
                @inputText( seasonForm("key"), '_label -> "Key", '_showConstraints -> false, 'class->"input-large" )
                @inputText( seasonForm("season"), '_label -> "Season", '_showConstraints -> false )
                @inputText( seasonForm("from"), '_label -> "From", '_showConstraints -> false )
                @inputText( seasonForm("to"), '_label -> "To", '_showConstraints -> false )
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="actions span12">
            <input type="submit" class="btn primary" value="Save">
            <input type="reset" class="btn primary" value="Reset">
            <a href="@routes.Season.list" class="btn">Cancel</a>
        </div>
    </div>
        </div>
    }
</div>
</div>
}