@(seasons: List[Season])(implicit flash:Flash)

@import tags._

@main("Seasons") {
<script>
    function deleteSeason(i,n){
    var hiddenId = '<input type="hidden" id="id" name="id" value="' + i + '"/>';
    var hiddenName = '<input type="hidden" id="seasonName" name="seasonName" value="' + n + '"/>';
    $('
    <form>', { "html":hiddenId+hiddenName, "method":'POST', "action":'/seasons/delete' } )
        .appendTo(document.body).submit();
        }
</script>

<div class="row-fluid">
    <div class="span12">
        <h3 class="span1">Seasons</h3>
    </div>
</div>
@flashBox(flash)
<div class="row-fluid">
    <div class="span12">
        <table class="table table-condensed table-bordered table-admin" style="table-layout:fixed; width:auto;">
            <thead>
            <tr>
                <th style="width:4em;">
                    <a href="/seasons/new" class="btn btn-primary btn-small">New</a>
                </th>
                <th style="width:12em;">Season</a></th>
                <th style="width:6em;">From</th>
                <th style="width:6em;">To</th>
                <th style="width:4em;"></th>
            </tr>
            </thead>
            <tbody>
            @seasons.map { season=>
            <tr>
                <td><a class="btn btn-primary btn-small" href="@controllers.routes.Season.edit(season.key)">Edit</a>
                </td>
                <td ><a href="@controllers.routes.Season.view(season.key)">@season.season</a>
                </td>
                <td >@season.from</td>
                <td >@season.to</td>
                <td>
                    <button class="btn btn-danger btn-small" onclick="deleteSeason('@season.id', '@season.season')">
                        Delete
                    </button>
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>
}
