@(s: models.Statistic, dt:org.joda.time.LocalDate, ds:models.DescriptiveStats, ms:List[models.StatRow], ser:String, scat:String, betas:List[(Double,List[Double])])

@richMain(s.name, None) {

<div class="row-fluid team-header-row"
     style="border-top:12px solid @s.color.getOrElse("#555"); border-bottom:12px solid @s.color.getOrElse("#555"); background-color:#ddd;">
<div class="span4">
    <h3>@s.name</h3>
</div>
<div class="span8" style="padding:12px; font-size:11px">
    @s.description.map{d=>
    <p>@d</p>
    }
</div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="container-fluid">

            <div class="row-fluid">
                <div class="span12">
                    <p style="padding-top: 20px;">
                        <span style="font-weight:bold;">Date:</span><span style="padding:0 35px 0 5px;"> @dt.toString("dd-MMM-yyyy")</span>
                        <span style="font-weight:bold">N:</span><span style="padding:0 35px 0 5px;">@ds.n</span>
                        <span style="font-weight:bold">Mean:</span><span style="padding:0 35px 0 5px;"> @ds.mean.formatted("%12.4f")</span>
                        <span style="font-weight:bold">Std. Deviation:</span> <span style="padding:0 35px 0 5px;">@ds.stdDev.formatted("%12.4f")</span>
                        <span style="font-weight:bold">Skewness:</span><span style="padding:0 35px 0 5px;">@ds.skew.formatted("%12.4f")</span>
                        <span style="font-weight:bold">Kurtosis:</span><span style="padding:0 35px 0 5px;">@ds.kurt.formatted("%12.4f")</span>
                    </p>

                    <p>
                        <span style="font-weight:bold">Minimum:</span><span style="padding:0 35px 0 5px;"> @ds.min.formatted("%12.4f")</span>
                        <span style="font-weight:bold">1st Quartile:</span><span style="padding:0 35px 0 5px;"> @ds.q1.formatted("%12.4f")</span>
                        <span style="font-weight:bold">Median:</span> <span style="padding:0 35px 0 5px;">@ds.med.formatted("%12.4f")</span>
                        <span style="font-weight:bold">3rd Quartile:</span><span style="padding:0 35px 0 5px;">@ds.q3.formatted("%12.4f")</span>
                        <span style="font-weight:bold">Maximum:</span><span style="padding:0 35px 0 5px;">@ds.max.formatted("%12.4f")</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span5">
                    <table class="table table-compact table-bordered table-subcompact">
                        <thead>
                        <tr>
                            <th style="width:1.5em;">Rank</th>
                            <th>Team</th>
                            <th style="width:5em;">Value</th>
                            <th style="width:5em;">Percentile</th>
                            <th style="width:5em;">Z-score</th>
                        </tr>
                        </thead>
                        <tbody>
                        @ms.map{ m=>


                        <tr>
                            <td class="text-right">@m.rank</td>
                            <td><a href="@controllers.routes.Schedule.team(m.team.key)">@m.team.name</a></td>
                            <td class="statvalue text-right">@m.value.formatted(s.longFormat)</td>
                            <td class="text-right">@m.percentile.formatted("%5.2f")</td>
                            <td class="text-right">@m.zScore.formatted("%5.3f")</td>
                        </tr>
                        }
                        </tbody>
                    </table>
                </div>

                <div class="span7">
                    <p style="text-align: center; font-size: 14px; font-weight:bold;">Evolution of the population:
                        &nbsp;
                        Min/Med/Max | &mu; &plusmn; 2 &sigma;</p>
                    <div id="seriesBox">
                    </div>
                    <p style="text-align: center; font-size: 14px; font-weight:bold;">Current Distribution</p>
                    <div id="histBox">
                    </div>
                    <p style="text-align: center; font-size: 14px; font-weight:bold;">Game Results (Axes are values)<span style="color:rgba(32, 192, 32, 0.85)">Wins</span> | <span style="color:rgba(192,32,32,0.85);">Losses</span></p>
                    <div id="scatterBox">
                    </div>
                    <p style="text-align: center; font-size: 14px; font-weight:bold;">Game Results (Axes are Z-scores)<span style="color:rgba(32, 192, 32, 0.85)">Wins</span> | <span style="color:rgba(192,32,32,0.85);">Losses</span></p>
                    <div id="zBox">
                    </div>
                    <p style="text-align: center; font-size: 14px; font-weight:bold;">Pr[win] Based on Logistic Regression difference in Z-Scores</p>
<div id="logBox">
                    </div>

                    <div style="padding: 1em 10em 1em 10em;">
                        <p style="text-align: center; font-size: 14px; font-weight:bold;">Logistic Regression on Home Team Covering Spread <br/>[Pr[cover] = 1/1+exp(-(&beta;<sub>0</sub> + &beta;<sub>1</sub> (z<sub>H</sub> - z<sub>A</sub>)))]</p>
                        <table class="table table-compact table-bordered table-subcompact" >
                        <tr>
                            <th>Spread</th>
                            <th style="width:8em;">&beta;<sub>0</sub></th>
                            <th style="width:8em;">&beta;<sub>1</sub></th>
                            <th style="width:8em;">Fair Spread at (z<sub>H</sub> - z<sub>A</sub>)</th>
                        </tr>
                        @betas.map{ m=>
                        <tr>
                            <td class="text-right">@m._1</td>
                            <td class="text-right">@m._2(0).formatted("%6.4f")</td>
                            <td class="text-right">@m._2(1).formatted("%6.4f")</td>
                            <td class="text-right">@{(-m._2(0)/m._2(1)).formatted("%6.4f")}</td>
                        </tr>
                        }
                    </table></div>
                </div>
            </div>
        </div>
    </div>
</div>
    <style>
        .xAxis, .yAxis {
            font-size: 10px;
        }
    </style>
    <script type="text/javascript">
        var series = @Html(ser);
        loadSeriesBox(series); loadHistBox();
        var points = @Html(scat); loadGamesScatter(points);
        loadLogGraph( @betas(betas.size/2)._1, @betas(betas.size/2)._2(0), @betas(betas.size/2)._2(1)) ;
    </script>

    }

